<form method="post" action="/messages">
  <label for="message">Message:</label>
  <textarea type="text" col="40" row="5" id="message" name="message"></textarea><br>
  <button>Submit</button>
</form>

<dl>
<% messages.each do |message| %>
  <div id="one_message">
    <dt>
    <a href='/messages/<%= message["id"] %>'><%= message["message"] %></a>
  <div id="buttons">
    <div class="button"><form method="get" action="/<%= message["id"] %>/edit">
      <button>Edit Message</button></form></div>

    <div class="button"><form method="post" action="/<%= message["id"] %>/delete">
      <input type="hidden" name="_method" value="delete">
      <input type="submit" value="Delete">
    </form></div>

    <div class="button"><form method="get" action="/add_comment/<%= message["id"] %>"><button>Comment</button></form></div>
  </div>
  </dt>
    <% @comments.each do |comment| %>
      <% if comment["message_id"] == message["id"]%>
          <dd><%= comment["comment"] %></dd>
      <% end %>
    <% end %><br><br>
  </div>
  <% end %>
</dl>
